html,body {
    width: 100%;
    height: 100%;
}

* {
    font-family: PingFang SC, Verdana, Helvetica Neue, 
    Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}