.bg-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../img/bg-index.jpg') no-repeat fixed center;
    background-size: 100% 100%;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 0.5;
}

.bg-container.show {
    opacity: 1.0;
}

.In-Container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: relative;
}

.In-content {
    -webkit-transition: top .35s ease-in-out;
    -moz-transition: top .35s ease-in-out;
    transition: top .35s ease-in-out;
    position: absolute;
    left: calc(50% - 189px);
    left: -webkit-calc(50% - 189px);
    left: -moz-calc(50% - 189px);
    top: -100%;
    width: 340px;
    padding: 30px 19px;
    background: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 12px 12px 26px rgba(0, 0, 0, 0.35);
    text-align: center;
    border-top: 3px solid #cd7bdd; 
    z-index: 1000;
}

.In-content.show {
    top: calc(45% - 180px);
    top: -webkit-calc(45% - 180px);
    top: -moz-calc(45% - 180px);
}

.In-content-header {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.In-content-header::before,
.In-content-header::after
 {
    content: "";
    position: absolute;
    top: 50%;
    width: 64px;
    border-top: 1px solid #b0b0b0;
}

.In-content-header::before {
    left: 0;
}

.In-content-header::after {
    right: 0;
}

.In-content-header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    border: 15px solid #a0a0a0;
    box-shadow: 0px 0px 15px #a0a0a0;
}

.In-content-header img.rotate {
    -webkit-transition: -webkit-transform 10ms;
    transition: -webkit-transform 10ms;
    transition: transform 10ms, -webkit-transform 10ms;
}

.In-Content-Name {
    color: #444;
    font-size: 20px;
    padding: 0;
    margin-bottom: 5px;
}

.In-Content-desc {
    line-height: 22px;
    margin-bottom: 15px;
    word-spacing: -6px;
    display: inline-table;
}

.In-Content-desc span {
    word-spacing: 0;
    position: relative;
    padding: 3px 0px 3px 10px;
    font-size: 12px;
    color: #555;
    cursor: pointer;
    margin: 0 5px;
}

.In-Content-desc span::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 3px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #555;
}

.In-Content-desc span::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 20px;
    height: 1px;
    background: #555;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.In-Content-desc span:hover::after {
    left: 10px;
    right: 0%;
}

.In-Content-others {
    width: 204px;
    margin: 0 auto;
    overflow: hidden;
    word-spacing: -6px;
    display: inline-table;
}

.In-Content-others a.icon {
    position: static;
    z-index: 100;
    word-spacing: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 1px solid #444;
    border-radius: 100%;
    overflow: hidden;
    color: #666;
    border: 1px solid #666;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: -webkit-transform 800ms;
    transition: -webkit-transform 800ms;
    transition: transform 800ms, -webkit-transform 800ms;
    overflow: hidden;
}

.In-Content-others a.icon:hover {
    color: #666;
    border: 1px solid #666;
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg)
}

.In-Content-others a.icon i {
    position: static;
    z-index: 1;
    line-height: 40px;
    font-size: 20px;
}

span#music-progress {
    line-height: 40px;
    font-size: 12px;
    letter-spacing: 0px;
}

.In-Content-others a.icon.red {
    border: 1px solid #ff1244;
    color: #ff1244;
}